langchain==0.1.17  # Ensure compatibility with langchain-groq and langchain-huggingface
langchain-core==0.1.41
langchain-groq==0.0.1
langchain-huggingface==0.1.1

python-dotenv==1.0.0
streamlit==1.22.0
unstructured==0.9.2
tiktoken==0.4.0
faiss-cpu==1.7.4
libmagic==1.0
# python-magic==0.4.27  # Commented out to prevent conflicts
# python-magic-bin==0.4.14  # Commented out to prevent conflicts
openai==0.28.0
sentence-transformers
pickle5
